.container{
    width: 992px;
    margin: 0 auto;
}
.box-top, .box_middle, .box_bottom{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}
.box_middle{
    margin-top: 50px;
}
.box_bottom{
    margin-top: 50px;
}
.box-item{
    padding: 10px;
    width: 300px;
}
.border{
    border:1px solid black;
}
.hero{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

/* Ларс */
.master{
    background: url(../img/lars.png) no-repeat top center;
}

/* Журнал */
.journal_box{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/bg-pop.jpg) no-repeat top center;
    background-size: cover;
    z-index: 9999;
    display: none;
}

.overlay{
    width: 100%;
    height: 100vh;
    z-index: 9998;
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
    display: none;
}

.close b{
    position: relative;
}

.close{
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

/* Таймер */
.timer_box{
    width: 200px;
    text-align: center;
    margin: 50px auto;
}
