* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

body {
    padding-top: 20px;
    background: url(../img/big.jpg) no-repeat top center;
    background-size: cover;
    font-family: 'Kurale', serif;
}

.container {
    width: 992px;
    margin: 0 auto;
}

.enemy {
    background: url(../img/ork.jpg) no-repeat top center;
    background-size: cover;
}

.home {
    background: url(../img/home.jpg) no-repeat top center;
    background-size: cover;
}

.farm {
    background: url(../img/farm.jpg) no-repeat top center;
    background-size: cover;
}

.wood {
    background: url(../img/wood.jpg) no-repeat top center;
    background-size: cover;
}

.marketPlace {
    background: url(../img/shop.jpg) no-repeat top center;
    background-size: cover;
}

.taverna {
    background: url(../img/taverna.jpg) no-repeat top center;
    background-size: cover;
}

.box-top, .box_middle, .box_bottom {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.box_middle {
    margin: 15px 0px;
}

.box-item {
    position: relative;
    padding: 10px;
    width: 320px;
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
}

.border {
    border: 2px solid grey;
}

.hero {
    position: relative;
    background: url(../img/herobg.jpg) no-repeat top center;
    background-size: cover;
}

.bg_inner {
    background: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    margin-top: 17px;
}

.bg_inner__ork {
    margin-top: 100px;
}

.dialog_box {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    z-index: 9999;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px 10px 5px 7px;
    display: none;
    text-align: left;
    background: url(../img/bg-pop.jpg) no-repeat top center;
    background-size: cover;
}

.dialog_box button {
    background: none;
    border: 1px solid black;
    color: black;
}

.dialog_box button:hover {
    text-decoration: underline;
    background: none;
}

.db_close {
    position: absolute;
    right: 3px;
    top: -6px;
    cursor: pointer;
}

.dialog_box p {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.shop_box {
    margin-top: 120px;
}

.hero_st {
    color: orange;
}

.hero_st span{
    color: white;
}

.hero_img {
    position: absolute;
    bottom: -6px;
    right: 0px;
}

button {
    background: black;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: #282C34;
}

.npc_name {
    background: url(../img/bg-pop.jpg) no-repeat top center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    padding: 4px 7px;
}

.npc {
    position: relative;
}

/* Кузница */

.forge {
    background: url(../img/forge.jpg) no-repeat top center;
    background-size: cover;
}

.harald {
    position: absolute;
    width: 250px;
    height: 220px;
    bottom: 3px;
    right: -18px;
}

.harald_btn {
    bottom: 65px;
}

.harald img {
    width: 100%;
    height: auto;
}

/* Ларс */

.master {
    background: url(../img/bg1.jpg) no-repeat top center;
    background-size: cover;
}

.lares {
    width: 250px;
    height: 235px;
    margin-left: 36px;
    bottom: -59px;
    z-index: 100;
}

.lares img {
    width: 100%;
    height: auto;
}

.master_btn__box {
    position: absolute;
    bottom: 8px;
    z-index: 200;
    text-align: center;
}

.tooltip, .tooltip2, .HomeMessageAlert {
    background: white;
    border-radius: 10px;
    padding: 7px 10px;
    position: relative;
    line-height: 16px;
    z-index: 500;
    bottom: 13px;
    left: 98px;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.HomeMessageAlert{
    left: 3px;
}

.tooltip2 {
    left: 129px;
}

.tooltip::after, .tooltip2::after, .HomeMessageAlert::after {
    content: '';
    position: absolute;
    right: 99px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid white;
}

.tooltip2::after {
    right: 28px;
}

.HomeMessageAlert::after{
    right: 156px;
}

/* Журнал */
.messWindow {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/bg-pop.jpg) no-repeat top center;
    background-size: cover;
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.overlay {
    width: 100%;
    height: 100vh;
    z-index: 9998;
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
    display: none;
}

.close b {
    position: relative;
}

.close {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
}

/* Таймер */

.timer_box {
    width: 200px;
    text-align: center;
    margin: 50px auto;
}
